# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# IDE/project files
.idea/
.vscode/
*.swp

#learning files
trials.py
my_own.py
learning.txt


#arbitrary test files
test_calculations.py
calculations.py

*.env

*.ini
